[Desktop Entry]
Version=1.0
Icon=PATH_TO_FOLDER/PROGRAM_ICON_IN_MENU
Type=X-XFCE-Helper
Name=PROGRAM_NAME_IN_MENU
Name[ru]=PROGRAM_NAME_IN_MENU
StartupNotify=false
X-XFCE-Binaries=PATH_TO_FOLDER/program/PROGRAM_EXECUTABLE_FILE;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
