[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=Uninstall - Example Application
Comment=
GenericName=

Icon=PATH_TO_FOLDER/icon-uninstall.png
Exec="PATH_TO_FOLDER/uninstall.sh"
TryExec="PATH_TO_FOLDER/uninstall.sh"
Path=
#StartupWMClass=

Terminal=true
StartupNotify=false

Categories=
#Keywords=
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=Удалить - Example Application
#GenericName[ru]=
#Comment[ru]=

# - ------------- - #
# - Actions Begin - #

#Actions=Act;

#[Desktop Action Act]
#Name=Acttion Template
#Exec=thunar

# -  Actions End  - #
# - ------------- - #
