[Desktop Entry]
Version=1.0
Icon=PATH_TO_FOLDER/PROGRAM_ICON_IN_MENU
Type=X-XFCE-Helper
Name=Example Helper
Name[ru]=Example Helper
StartupNotify=false
X-XFCE-Binaries=PATH_TO_FOLDER/PROGRAM_EXECUTABLE_FILE;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
